<tr<%= alt %>>
  <td><%= h driver.name %></td>
  <td><%= link_to 'Edit', :controller => 'home', :action => 'edit_driver', :id => driver.id %></td>
  <td><%= link_to 'Del', :controller => 'home', :action => 'del_driver', :id => driver.id %></td>
</tr>
