<thead>
<tr>
  <td>&nbsp;</td>
  <td class="c">Name</td>
  <td class="c">Type</td>
  <td class="c">Null</td>
  <td class="c">Default</td>
  <td class="c">Limit</td>
  <td class="c">Scale</td>
  <td class="c">Precision</td>
</tr>
</thead>
