<h2><%= link_to 'Databases', :controller => 'home', :action => 'databases' %> &#187; <%= link_to "&quot;#{ h @database.name }&quot; Database", :controller => :database, :id => @database %> &#187; <%= link_to "&quot;#{ h @table.name }&quot; Table", :controller => :database, :action => :table, :table => (h @table.name) %> &#187; Add Fields</h2>

<%= render :partial => 'database/field_form' %>
