<h2><%= link_to 'Databases', :controller => 'home', :action => 'databases' %> &#187; <%= link_to "&quot;#{ h @database.name }&quot; Database", :controller => :database, :id => @database %> &#187; <%= link_to "&quot;#{ h @table.name }&quot; Table", :controller => :database, :action => :table, :table => (h @table.name) %> &#187; Edit Row &quot;<%= params[:pk] %>&quot;</h2>

<% form_for :row do |f| -%>

<table class="form">
<thead>  
<tr>
  <td colspan="8">Edit Row Form</td>
</tr>
</thead>
<%#= render :partial => 'database/new_field_header' %>
<tbody>
<%#= render :partial => 'database/new_field', :locals => { :x => 1 } %>
</tbody>
<tfoot>
<tr>
  <td colspan="8"><input type="submit" name="submit" value="Submit"></td>
</tr>
</tfoot>
</table>

<% end -%>
